// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

#cryptoparty-logo
	margin 15px
	width 60%

.bespoke-scale-parent
	pointer-events none
	.bespoke-active
		pointer-events: auto

.regular-image
	margin 15px
	max-width 256px