// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

#cryptoparty-logo
	width 60%

.bespoke-scale-parent
	pointer-events none
	.bespoke-active
		pointer-events: auto
