doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title CryptoParty Seattle

		link(rel='stylesheet', type='text/css', href='build/build.css')

	body

		article

			section
				img#cryptoparty-logo(src='images/CryptoPartyLogo.svg' alt='CryptoParty')
				h1 Seattle

			section
				h2 Welcome!
				h3.bullet I'm your host, Alex Jordan.
				h3.bullet But you can call me AJ.

			section
				h2 Huge thanks to Black Coffee
				h3 They're hosting this event for free.
				h3 Please consider buying food and drink from them. I've tried it before. It's all awesome.

			section
				h2 Roadmap
				h3 Privacy basics (part I)
				h3 Tor
				hr
				h3 Privacy basics (part II)
				h3 Off-The-Record (OTR)
				hr
				h3 Pretty Good Privacy (PGP) & GNU Privacy Guard (GnuPG, aka GPG)
				hr
				h3 Honourable mentions and other miscellanea
				h3 Keysigning party

			section
				h1 But first, a note and a survey

			section
				h2 Talk to me! (This is the note part)
				h3 I want this to be more of a conversation than a presentation. Me reading off the slides is boring.
				h3 After the slides, during the slides, between the slides... hands or no hands, I want to hear from you.
				h3 Feedback, questions, jokes, whatever. (And yes, there are no dumb questions.)
				h3 Am I boring you? Tell me!

			section
				h2 Now, the survey

			section
				h2.bullet Raise your hand if you use...
				h3.bullet Windows
				h3.bullet Mac OS X
				h3.bullet GNU/Linux (e.g. Ubuntu, Elementary, Debian, Mint, Fedora, OpenSUSE, etc...)
				h3.bullet Something else ([Free,Net,Open,PC-,*]BSD, Solaris, Illumos, GNU/Hurd, System V R4, Haiku, DOS, etc...)
				h3.bullet I don't know

			section
				h3.bullet <strong>Cool. Raise your hand again if you use GNU/Linux or something else, and prefer...</strong>
				h3.bullet GNOME, Unity, Pantheon (Elementary OS), MATE, or Cinammon
				h3.bullet KDE or Trinity
				h3.bullet XFCE, LXDE, Razor-qt, or Enlightenment
				h3.bullet Something else (e.g. a standalone WM)
				h3.bullet I don't know

			section
				h2 Thanks for humoring me. Now - let's begin.

			section
				h1 Privacy basics (I) - some basic terms

			section
				h2.bullet Let's keep this short.
				h3.bullet <em>Encryption</em> is the process of using a key, like a word or a number, to scramble some text so that it can't be read unless you have the key
				h3.bullet <em>Decryption</em> is the process of using that same key to unscramble the encrypted text
				h3.bullet <em>Plaintext</em> is text that has not been encrypted
				h3.bullet <em>Cryptography</em> is the study and practice of encryption
				h3.bullet We encrypt things to protect our privacy

			section
				img.bullet(src='images/TorLogo.png', width='123', height='181')
				h1.bullet Tor

			section
				h2.bullet What is Tor?
				h3.bullet You know in those old movies where some kid is breaking into a computer and it shows the map, with the connection bouncing all around the world?
				h3.bullet That's basically what Tor is.
				h3.bullet Tor anonymizes you by making it seem like your requests for web pages are coming from a random location in the world
				h3.bullet Tor can also help you circumvent censorship

			section
				h2.bullet Using Tor
				h3.bullet Tor isn't useful on its own
				h3.bullet Instead, you use your normal applications - like email, chat and your web browser - and tell them to send all their data through the Tor network instead of the regular Internet.
				h3.bullet For your web browser, you use the Tor Browser Bundle
				h3.bullet For other applications, you use their proxy settings
				h3.bullet For BitTorrent, you do nothing. Don't use BitTorrent with Tor.
				h3.bullet For the truly paranoid, you use TAILS

			section
				h2.bullet The Tor Browser Bundle
				h3.bullet TBB is a browser, based on Firefox, that is preconfigured to use Tor properly
				h3.bullet It will help you connect to the Tor network and remain anonymous online
				h3.bullet However, TBB cannot do everything. You may need to change some of your browsing habits.

			section
				h2.bullet What you need to do
				h3.bullet Don't use browser plugins
				h3.bullet Use HTTPS
				h3.bullet Don't open downloaded documents while online
				h3.bullet Be aware of logging in to websites (there's no point being anonymous if you tell them who you are)

			section
				h2.bullet TAILS, The Amnesiac Incognito Live System
				h3.bullet TAILS is like the TBB, but it works for the entire operating system.
				h3.bullet Instead of starting TAILS from your hard drive, you put TAILS on a CD and start the computer from the CD.
				h3.bullet Nothing in TAILS ever gets written to your hard disk. When you shut down TAILS, it forgets about everything you did.
				h3.bullet The warning about signing into things still applies, but otherwise, TAILS is pretty hassle-free. <em>Everything</em> goes through Tor.

			section(data-bespoke-state='emphatic')
				img(src='images/GetOnDownAndGetEncryptedWithACryptoParty.jpeg', alt='#cryptoparty', width='421', height='272')

			section
				h1 Privacy basics (II) - public-key cryptography

			section
				h2.bullet Public key? Shouldn't I keep my keys secret?
				h3.bullet Public-key cryptography refers to encryption systems in which instead of having one key, you have two.
				h3.bullet This is useful because then you don't have to give the same key to all your friends.
				h3.bullet (Imagine you used the key "asdf". You use "asdf" to encrypt emails to Alice and Mallory. Eve can't read your email to Alice, but now Mallory can, because you use the same key for both!)

			section
				h2.bullet Your two keys
				h3.bullet In public-key cryptography, you have two keys. One private (duh), and one public.
				h3.bullet When you encrypt something using your private key, it can only be decrypted using your public key. Your private key won't work for decryption.
				h3.bullet And when someone encrypts something using your public key, it can only be decrypted using your private key.
				h3.bullet There's a whole bunch of math that makes this work. You don't need to worry about that.

			section
				h2.bullet Things that public-key cryptography does
				h3.bullet By encrypting something with your private key, you have digitally signed it
				h3.bullet To verify the signature, someone else decrypts it with your public key.
				h3.bullet By encrypting something with another person's public key, you can be sure that no one but them can read it.

			section
				h1 Off-The-Record

			section
				h2.bullet Off-The-Record basics
				h3.bullet Off-The-Record, also known as OTR, takes public-key cryptography and sticks it in chat.
				h3.bullet It encrypts your chat messages so that no one, not even the organization who provides the chat, can read your conversations.

			section
				h2.bullet The tech
				h3.bullet Luckily for you, you don't have to worry about keys when using OTR. OTR will manage them for you.
				h3.bullet You just turn it on, challenge the other person with a question that only they would know (to make sure that it's really them), and talk
				h3.bullet One caveat: OTR only works after the first message. Normally this probably isn't a big deal, unless you are e.g. whistleblowing.

			section
				h2.bullet So how do I use it?
				h3.bullet Get Pidgin and turn on the OTR plugin.
				h3.bullet Start a chat and click on the OTR icon. Follow the prompts.
				h3.bullet Congrats! Your conversation is now encrypted.

			section
				h2.bullet Obligatory warning
				h3.bullet If you are a highly-targeted individual, or are especially paranoid, do not use Pidgin.
				h3.bullet Your risks are different and you must act accordingly.
				h3.bullet Talk to me afterwards and I can explain why.

			section(data-bespoke-state='emphatic')
				img(src='images/CC_BY_3.0_state_of_surveillance_by_xp0s3.jpg', alt='cryptoparty.org - refuse the state of surveillance', width='362', height='456')

			section
				img.bullet(src='images/GnuPGLogo.svg')
				h2.bullet Pretty Good Privacy using GNU Privacy Guard

			section
				h2.bullet Some background
				h3.bullet Originally, PGP referred to two things - PGP the system, and PGP the software
				h3.bullet PGP the software was used to make use of PGP the system
				h3.bullet Nowadays, we don't really use PGP the software. We use the GNU Privacy Guard instead.

			section
				h2.bullet GNU Privacy Guard
				h3.bullet Normally called GPG and occasionally called GnuPG
				h3.bullet GPG is used to access PGP the system, just like PGP the software.
				h3.bullet GPG is different and better than PGP the software in several ways. Most notably, it is free software.
				h3.bullet You don't really need to worry about this. GPG, PGP and OpenPGP (another name for PGP the system) are used interchangeably.

			section
				h2.bullet PGP the system
				h3.bullet Usually known as the Web of Trust
				h3.bullet The Web of Trust is the most difficult to explain of everything here
				h3.bullet I will go slow and do my best to explain. Please stop me right away if I'm not making sense.

			section
				h2.bullet Web of Trust basics
				h3.bullet Essentially, the Web of Trust is a way to authenticate who someone else is.
				h3.bullet Put another way, the Web of Trust allows you to verify someone else's identity.
				h3.bullet This works by constructing a chain of trust.

			section
				h2.bullet Trust chains
				h3.bullet Trust chains start with who <em>you</em> trust.
				h3.bullet Then they go to whoever is trusted by the people you trust.
				h3.bullet GPG will construct these chains until you eventually get to the person whose identity you're trying to verify.

			section
				h2.bullet Trust chain example
				h3.bullet A while back, I met up with Alice in real life, and I verified that her online identity matches her real life identity.
				h3.bullet Now I can trust her online identity, because I've verified that it corresponds to a real person - and more importantly, the correct person.
				h3.bullet Alice has met up with several people in real life, and done the same verification. Bob is one of the people Alice has met up with.
				h3.bullet I'm trying to securely contact Joe. Bob has met up with Joe and verified his identity.
				h3.bullet Because I trust Alice, Alice trusts Bob, and Bob trusts Joe, I can trust Joe.

			section
				h2.bullet From the conceptual to the practical
				h3.bullet When I say "online identity", what I am really talking about is a public key
				h3.bullet On a technical level, the Web of Trust is composed of two things:
				ol
					li A collection of public keys
					li A collection of signatures on those public keys

			section
				h2.bullet Keysigning
				h3.bullet Every key in the Web of Trust <em>claims</em> to be owned by a real person. That claim may or may not be true.
				h3.bullet In other words, when someone creates their key and fills in their name, they are either lying or not lying.
				h3.bullet The act of signing a key says that you have verified, somehow, that the claim made by a key is the truth.
				h3.bullet Usually, this verification is done by meeting up in real life and comparing government-issued photo ID.
				h3.bullet If you know the person, and know what their voice sounds like, having them read their key ID to you over the phone will also work.

			section
				h2.bullet Why is keysigning valuable?
				h3.bullet You want others to sign your keys so that people will know that your key is really yours
				h3.bullet You want to sign others' keys so that GPG is able to construct trust chains to people you haven't met up with yet
				h3.bullet You also should sign others' keys so that you don't appear rude, so that they will sign your key

			section
				h2.bullet A small note on how well you need to know the person
				h3.bullet You do not need to know a person at all to sign their key.
				h3.bullet You can even sign the key of a person you've just met. And, in fact, many people do at keysigning parties.
				h3.bullet Just be aware of how you need to verify their identity. (I will talk about this in just a second.)

			section
				h2.bullet But wait, I hear you say!
				h3.bullet What if I sign the key of a malicious actor? What if someone whose key I've signed signs others' keys without verifying their identity?
				h3.bullet No problem. GPG will actually build more than one trust chain.
				h3.bullet It requires a certain amount of chains, not just one chain, to have checked out before it will trust a key.

			section
				h2.bullet Keysigning best practices: for people you do know
				h3.bullet This is the easy part.
				h3.bullet For people you know well, a phone call will suffice. This is because you will recognize their voice - no (regular) texting!
				h3.bullet You can skip the phone call if you have already established a secure conversation with them in some other way. For example, if you've verified their identify over OTR, you can use OTR to send them your key.

			section
				h2.bullet Keysigning best practices: for people you don't know
				h3.bullet For people you <em>don't</em> know as well, it's not nearly as convenient. :(
				h3.bullet At <strong>minimum</strong> you must require at least one form of government-issued photo identification. A drivers license will work, as well as a passport.
				h3.bullet If you want to be really paranoid, require two forms of ID. But for the casual user, one will suffice.

			section(data-bespoke-state='emphatic')
				img(src='images/CC_BY_3.0_weak_link_by_xp0s3.jpg', alt='Do not be the weak link - cryptoparty.org', height='371', width='556')

			section
				h1 Honourable mentions and other miscellanea

			section
				h2.bullet Honourable mentions
				h3.bullet <a href="https://whispersystems.org/blog/signal/">TextSecure / RedPhone / Signal</a>
				h3.bullet <a href="http://thialfihar.org/projects/apg/">APG</a> / <a href="http://www.openkeychain.org/">OpenKeychain</a> & <a href="https://play.google.com/store/apps/details?id=com.fsck.k9">K9</a>
				h3.bullet <a href="https://www.eff.org/https-everywhere">HTTPS Everywhere</a>

			section
				h2 More resources
				h3 <a href="https://prism-break.org/en/">PRISM Break</a>
				h3 Reset the Net's <a href="https://pack.resetthenet.org/">Privacy Pack</a>
				h3 Free Software Foundation's <a href="https://emailselfdefense.fsf.org/en/">Email Self Defense</a>
				h3 <a href="https://cryptoparty.in/">CryptoParty website</a>

			section
				h2 Attributions
				h3 CryptoParty logo - public domain (CC0)
				h3 Tor logo - The Tor Project, Inc. - CC Attribution 3.0 US
				h3 State of surveillance - xp0s3 - CC BY 3.0
				h3 GnuPG logo - Free Software Foundation - GNU GPL v2 or higher
				h3 Weak link - xp0s3 - CC BY 3.0
				h3 Slideshow built using Bespoke.js

			section
				h1 Keysigning party

		script(src='build/build.js')