doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title CryptoParty Seattle

		link(rel='shortcut icon', href='images/favicon.ico', type='image/vnd.microsoft.icon')
		link(rel='icon', href='images/favicon.ico', type='image/x-icon')
		link(rel='shortcut icon', href='images/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', type='text/css', href='build/build.css')

	body

		article

			section
				img#cryptoparty-logo(src='images/CryptoPartyLogo.svg' alt='CryptoParty')
				h1 Seattle (Redux)

			section
				h2 Welcome!
				h3.bullet I'm your host, Alex Jordan.
				h3.bullet But you can call me AJ.

			section
				h2 Huge thanks to UW, and to Peter
				h3 They're hosting this event for free.
				h3 Also thanks to Lee Fisher, for the pizza

			section
				h2 Roadmap
				h3 Why privacy?
				hr
				h3 Privacy basics (part I)
				h3 Tor
				hr
				h3 Privacy basics (part II)
				h3 Off-The-Record (OTR)
				hr
				h3 Pretty Good Privacy (PGP) & GNU Privacy Guard (GnuPG, aka GPG)
				hr
				h3 Honourable mentions and other miscellanea
				h3 Keysigning party

			section
				h1 But first, a note and a survey

			section
				h2 Talk to me! (This is the note part)
				h3 I want this to be more of a conversation than a presentation. Me reading off the slides is boring.
				h3 Feedback, questions, jokes, whatever. (And yes, there are no dumb questions.)
				h3 Am I boring you? Tell me!

			section
				h2 Now, the survey

			section
				h2.bullet Raise your hand if you use...
				h3.bullet Windows
				h3.bullet Mac OS X
				h3.bullet GNU/Linux (e.g. Ubuntu, Elementary, Debian, Mint, Fedora, OpenSUSE, etc...)
				h3.bullet Something else ([Free,Net,Open,PC-,*]BSD, Solaris, Illumos, Haiku, DOS, etc...)
				h3.bullet I don't know

			section
				h3.bullet <strong>Cool. Raise your hand again if you use GNU/Linux or something else, and prefer...</strong>
				h3.bullet GNOME, Unity, Pantheon (Elementary OS), MATE, or Cinammon
				h3.bullet KDE or Trinity
				h3.bullet XFCE, LXDE, Razor-qt, or Enlightenment
				h3.bullet Something else (e.g. a standalone WM)
				h3.bullet I don't know

			section
				h1 Why privacy?

			section
				h2.bullet The world today
				h3.bullet We have problems
				h3.bullet Some people are activists
				h3.bullet Not many people use privacy tools

			section
				img(src='images/SocialGraph.svg', width='584.23', height='397.33')

			section
				h2.bullet Everyone as a target
				h3.bullet In this scenario, everyone is a target
				h3.bullet The government analyzes everyone's conversations...
				h3.bullet and figures out who the activists are

			section
				img(src='images/SocialGraphTargets.svg', width='584.23', height='397.33')

			section
				h2.bullet What if the activists are secure?
				h3.bullet Activists use privacy tools, and everyone else doesn't have to worry
				h3.bullet Problem solved, right?

			section
				img(src='images/SocialGraphSecureActivist.svg', width='584.23', height='397.33')

			section
				h2.bullet What if the activists are secure?
				h3.bullet Not really.
				h3.bullet Now they're even easier to pick out.

			section
				img(src='images/SocialGraphSecureActivistTargets.svg', width='584.23', height='397.33')

			section
				h2.bullet The solution?
				h3.bullet Everyone needs to use privacy tools.
				h3.bullet That way, everyone looks the same.

			section
				img(src='images/SocialGraphSecureAll.svg', width='584.23', height='397.33')

			section
				h1 Privacy basics (I)

			section
				h2.bullet Let's keep this short.
				h3.bullet <em>Encryption</em> is the process of using a key, like a word or a number, to scramble some text so that it can't be read unless you have the key
				h3.bullet <em>Decryption</em> is the process of using that same key to unscramble the encrypted text
				h3.bullet <em>Plaintext</em> is text that has not been encrypted
				h3.bullet <em>Cryptography</em> is the study and practice of encryption
				h3.bullet We encrypt things to protect our privacy

			section
				h2.bullet Your threat model
				h3.bullet Much as I would like to, I can't magically tell you what's right
				h3.bullet Basically, a threat model is what <em>your</em> adversary looks like
				h3.bullet You need to figure out your own threat model and base decisions on it
				h3.bullet For most people this isn't a big deal
				h3.bullet Activists, however, should pay special attention.

			section
				img.bullet(src='images/TorLogo.png', width='123', height='181')
				h1.bullet Tor

			section
				h2.bullet What is Tor?
				h3.bullet You know in those old movies where some kid is breaking into a computer and it shows the map, with the connection bouncing all around the world?
				h3.bullet That's basically what Tor is.
				h3.bullet Tor anonymizes you by making it seem like your requests for web pages are coming from a random location in the world
				h3.bullet Tor can also help you circumvent censorship

			section
				h2.bullet Using Tor
				h3.bullet Tor isn't useful on its own
				h3.bullet Instead, you use your normal applications - like email, chat and your web browser - and tell them to send all their data through the Tor network instead of the regular Internet.
				h3.bullet For your web browser, you use the Tor Browser Bundle
				h3.bullet For other applications, you use their proxy settings
				h3.bullet For BitTorrent, you do nothing. Don't use BitTorrent with Tor.
				h3.bullet For the truly paranoid, you use Tails

			section
				h2.bullet The Tor Browser Bundle
				h3.bullet TBB is a browser, based on Firefox, that is preconfigured to use Tor properly
				h3.bullet It will help you connect to the Tor network and remain anonymous online
				h3.bullet However, TBB cannot do everything. You may need to change some of your browsing habits.

			section
				h2.bullet What you need to do
				h3.bullet Don't use browser plugins
				h3.bullet Don't open downloaded documents while online
				h3.bullet Be aware of logging in to websites (there's no point being anonymous if you tell them who you are)

			section
				h2.bullet Tails, The Amnesiac Incognito Live System
				h3.bullet Tails is like the TBB, but it works for the entire operating system.
				h3.bullet Instead of starting Tails from your hard drive, you put Tails on a CD and start the computer from the CD.
				h3.bullet When you shut down Tails, it forgets about everything you did.
				h3.bullet Start fresh when moving on to the next task by restarting Tails.
				h3.bullet The warning about signing into things still applies, but otherwise, Tails is pretty hassle-free. <em>Everything</em> goes through Tor.

			section
				h2.bullet Getting Tor
				h3.bullet <a href="https://www.torproject.org/download/download-easy.html.en">Download</a> the Tor Browser Bundle and unpack to your desktop. It is self-contained, no need to install
				h3.bullet If you are paranoid you may wish to <a href="https://www.torproject.org/docs/verifying-signatures.html.en">verify its signature</a> to ensure it hasn't been tampered with
				h3.bullet Download Tails from <a href="https://tails.boum.org/">here</a> and <a href="https://tails.boum.org/getting_started/index.en.html">put it on a USB drive or a CD</a>. Be aware of what it <a href="https://tails.boum.org/doc/about/warning/index.en.html">does not do for you</a>.
				h3.bullet For Android, you can get Orbot from the <a href="https://play.google.com/store/apps/details?id=org.torproject.android">Google Play Store</a> or from <a href="https://f-droid.org/">F-Droid</a> (recommended).
				h3.bullet The Tor wiki has a <a href="https://trac.torproject.org/projects/tor/wiki#UsingTorwith">section</a> detailing how to get and use Tor with other software.

			section
				h2 Exercise: install the Tor Browser Bundle

			section
				h2 Exercise: <a href="https://panopticlick.eff.org/">Panopticlick</a>

			section(data-bespoke-state='emphatic')
				img(src='images/GetOnDownAndGetEncryptedWithACryptoParty.jpeg', alt='#cryptoparty', width='421', height='272')

			section
				h1 Privacy basics (II)

			section
				h2.bullet Public key cryptography
				h3.bullet Instead of having one key, you have two
				h3.bullet One private, one public
				h3.bullet Most systems use this idea nowadays

			section
				h2.bullet Stuff you can do with two keys
				h3.bullet Digital signatures
				h3.bullet Fine-grained encryption

			section
				h1 Off-The-Record

			section
				h2.bullet Off-The-Record basics
				h3.bullet IM + privacy = Off-The-Record
				h3.bullet OTR encrypts your chat messages so that no one read your conversations.
				h3.bullet Not even the chat service.

			section
				h2.bullet The tech
				h3.bullet OTR manages your keys for you.
				h3.bullet You just turn it on, challenge the other person with a question that only they would know (to make sure that it's really them), and talk
				h3.bullet One caveat: OTR only works after the first message. (Consult your threat model.)

			section
				h2.bullet So how do I use it?
				h3.bullet Get <a href="https://pidgin.im">Pidgin</a> or <a href="https://adium.im/">Adium</a> (for Macs) and turn on the OTR plugin.
				h3.bullet Start a chat and click on the OTR icon. Follow the prompts.
				h3.bullet Congrats! Your conversation is now encrypted.

			section
				h2.bullet Obligatory warning
				h3.bullet If you are a highly-targeted individual, or are especially paranoid, do not use Pidgin.
				h3.bullet Your risks are different and you must act accordingly.
				h3.bullet Talk to me afterwards and I can explain why.

			section
				h2 Exercise: installing Pidgin

			section
				h2 Exercise: enabling OTR

			section(data-bespoke-state='emphatic')
				img(src='images/CC_BY_3.0_state_of_surveillance_by_xp0s3.jpg', alt='cryptoparty.org - refuse the state of surveillance', width='362', height='456')

			section
				img.bullet(src='images/GnuPGLogo.svg')

			section
				h2.bullet Some background
				h3.bullet GPG = GnuPG = PGP = OpenPGP
				h3.bullet PGP is used to protect emails

			section
				h2.bullet Web of Trust basics
				h3.bullet The Web of Trust is something we use in PGP
				h3.bullet Essentially, it's a way to distribute and authenticate keys.
				h3.bullet Put another way, the Web of Trust allows you to retrieve and verify someone else's identity.

			section
				h2.bullet Keysigning
				h3.bullet Keysigning: the act of creating a digital signature of someone else's key
				h3.bullet You want to sign people's keys, to verify others' keys
				h3.bullet You want others to sign your keys, so others can verify your key
				h3.bullet Unless you have a problem with the government knowing your social graph.

			section
				h2.bullet A small note on how well you need to know the person
				h3.bullet You do not need to know a person at all to sign their key.
				h3.bullet You can even sign the key of a person you've just met. And, in fact, many people do at keysigning parties.
				h3.bullet Just be aware of how you need to verify their identity.

			section
				h2.bullet Keysigning best practices: for people you <em>do</em> know
				h3.bullet This is the easy part.
				h3.bullet A phone call will suffice. This is because you will recognize their voice - no (regular) texting!
				h3.bullet You can skip the phone call if you have already established a secure conversation with them in some other way.
				h3.bullet For example, if you've verified their identify over OTR, you can use OTR to send them your key.

			section
				h2.bullet Keysigning best practices: for people you <em>don't</em> know
				h3.bullet This isn't nearly as convenient. :(
				h3.bullet At <strong>minimum</strong> you must require at least one form of government-issued photo identification. A drivers license will work, as well as a passport.
				h3.bullet Compare photo ID to them, and compare the name on the ID to the name on the key
				h3.bullet If possible, send your signature to them instead of uploading it.
				h3.bullet (If you're using GNU/Linux, you can use caff.)

			section
				h2.bullet Creating a key
				h3.bullet The defaults are good
				h3.bullet <a href="https://www.debian-administration.org/users/dkg/weblog/97">Don't enter anything in the Comment field</a>
				h3.bullet Generate a revocation certificate
				h3.bullet Back up your key and your revocation certificate
				h3.bullet Never, ever give your key to any person or company, even if it has a password. If a website asks you to upload your key, be suspicious.

			section
				h2.bullet Getting GPG
				h3.bullet For Windows, get <a href="http://www.gpg4win.org/">Gpg4Win</a>
				h3.bullet For Mac OS X, get <a href="https://gpgtools.org/">GpgTools</a>
				h3.bullet For pretty much everything on GNU/Linux, you want to use GNOME Keyring. This is probably already installed; if not, use your package manager's software installation tool to install it.
				h3.bullet For KDE/Trinity, use either Kleopatra or KGpg.

			section
				h2.bullet Using GPG
				h3.bullet If you use your Mac's builtin Mail application, then GpgTools has provided a plugin for using GPG.
				h3.bullet For pretty much everyone else, I recommend using <a href="https://www.mozilla.org/en-US/thunderbird/">Mozilla Thunderbird</a> with <a href="https://www.enigmail.net/home/index.php">Enigmail</a>.
				h3.bullet For some GNU/Linux systems, Thunderbird may be called Icedove. It works the exact same way.

			section
				h2 Exercise: installing GPG

			section
				h2 Exercise: generating a key

			section(data-bespoke-state='emphatic')
				img(src='images/CC_BY_3.0_weak_link_by_xp0s3.jpg', alt='Do not be the weak link - cryptoparty.org', height='371', width='556')

			section
				h1 Honourable mentions and other miscellanea

			section
				h2.bullet Honourable mentions
				h3.bullet <a href="https://whispersystems.org/blog/signal/">TextSecure / RedPhone / Signal</a>
				h3.bullet <a href="http://www.openkeychain.org/">OpenKeychain</a> & <a href="https://play.google.com/store/apps/details?id=com.fsck.k9">K9</a>
				h3.bullet <a href="https://www.eff.org/https-everywhere">HTTPS Everywhere</a>
				h3.bullet <a href="https://duckduckgo.com/">DuckDuckGo</a>

			section
				h2 More resources
				h3 <a href="https://prism-break.org/en/">PRISM Break</a>
				h3 Reset the Net's <a href="https://pack.resetthenet.org/">Privacy Pack</a>
				h3 Free Software Foundation's <a href="https://emailselfdefense.fsf.org/en/">Email Self Defense</a>
				h3 <a href="https://cryptoparty.in/">CryptoParty website</a>

			section
				h2 Questions?
				h3 Email me at <a href="mailto:alex@strugee.net">alex@strugee.net</a>
				h3 Or just shout it out right now

			section
				h2 Attributions
				h3 CryptoParty logo - public domain (CC0)
				h3 Tor logo - The Tor Project, Inc. - CC Attribution 3.0 US
				h3 State of surveillance - xp0s3 - CC BY 3.0
				h3 GnuPG logo - Free Software Foundation - GNU GPL v2 or higher
				h3 Weak link - xp0s3 - CC BY 3.0
				h3 Slideshow built using Bespoke.js

			section
				h1 Keysigning party

			section
				h2 Access this presentation again
				h3 https://strugee.github.io/cryptoparty-seattle/
				p
					img(src='images/qr.gif', alt="QR Code")
				h4 ...or <a href="https://github.com/strugee/cryptoparty-seattle/">get the source code</a>

		script(src='build/build.js')
