doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title CryptoParty Seattle

		link(rel='shortcut icon', href='images/favicon.ico', type='image/vnd.microsoft.icon')
		link(rel='icon', href='images/favicon.ico', type='image/x-icon')
		link(rel='shortcut icon', href='images/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', type='text/css', href='build/build.css')

	body

		article

			section
				img#cryptoparty-logo(src='images/CryptoPartyLogo.svg' alt='CryptoParty')
				h1 Seattle III

			section
				h2 Welcome!
				h3.bullet I'm your host, Alex Jordan.
				h3.bullet But you can call me AJ.

			section
				h2 Huge thanks to UW, and to Peter
				h3 They're hosting this event for free.

			section
				h2 Roadmap
				h3 Why privacy?
				hr
				h3 Privacy basics
				h3 Tor
				hr
				h3 Off-The-Record (OTR)
				hr
				h3 Signal
				hr
				h3 Honourable mentions

			section
				h2 By the way
				h3 Talk to me!
				h3 Feedback, questions, jokes, whatever. (And yes, there are no dumb questions.)
				h3 Am I boring you? Tell me!

			section
				h2.bullet Raise your hand if you use...
				h3.bullet Windows
				h3.bullet macOS
				h3.bullet GNU/Linux (e.g. Ubuntu, Debian, Fedora, etc...)
				h3.bullet Something else (e.g. a BSD)
				h3.bullet I don't know

			section
				h1 Why privacy?

			section
				h2.bullet Democracy
				h3.bullet Breaking laws is an important part of democracy
				h3.bullet Example: sit-ins
				h3.bullet If no one ever broke unjust laws, we wouldn't know why they were bad
				h3.bullet It's about balance

			section
				h2.bullet Activism
				h3.bullet Some people are activists
				h3.bullet Not many people use privacy tools

			section
				img(src='images/SocialGraph.svg', width='584.23', height='397.33')

			section
				h2.bullet Scenario: <em>no one</em> uses privacy tools
				h3.bullet In this scenario, everyone is a target
				h3.bullet The government analyzes everyone's conversations...
				h3.bullet and figures out who the activists are

			section
				img(src='images/SocialGraphTargets.svg', width='584.23', height='397.33')

			section
				h2.bullet What if the activists are secure?
				h3.bullet Activists use privacy tools, and everyone else doesn't have to worry
				h3.bullet Problem solved, right?

			section
				img(src='images/SocialGraphSecureActivist.svg', width='584.23', height='397.33')

			section
				h2.bullet What if the activists are secure?
				h3.bullet Not really.
				h3.bullet Now they're even easier to pick out.

			section
				img(src='images/SocialGraphSecureActivistTargets.svg', width='584.23', height='397.33')

			section
				h2.bullet The solution?
				h3.bullet Everyone needs to use privacy tools.
				h3.bullet That way, everyone looks the same.

			section
				img(src='images/SocialGraphSecureAll.svg', width='584.23', height='397.33')

			section
				h1 Privacy basics

			section
				h2.bullet Let's keep this short.
				h3.bullet <em>Encryption</em> is the process of using a key, like a word or a number, to scramble some text so that it can't be read unless you have the key
				h3.bullet <em>Decryption</em> is the process of using that same key to unscramble the encrypted text
				h3.bullet <em>Plaintext</em> is text that has not been encrypted
				h3.bullet <em>Cryptography</em> is the study and practice of encryption
				h3.bullet We encrypt things to protect our privacy

			section
				h2.bullet Your threat model
				h3.bullet Threat modeling is about defining the problem you're trying to solve
				h3.bullet For example: "I expect that I only have to worry about mass surveillance."
				h3.bullet Alternately: "I'm assuming that I have been specifically targeted for surveillance by the state."
				h3.bullet You need to figure out your own threat model and base decisions on it

			section
				h2.bullet My assumptions
				h3.bullet I'm assuming your threat model includes only mass surveillance.
				h3.bullet Otherwise, these suggestions are a good start, but not all you need.
				h3.bullet If you're an investigative journalist, the tools showed here <strong>are not good enough</strong>.
				h3.bullet If you're heavily involved in activism, the tools showed here <strong>are not good enough</strong>.

			section
				img.bullet.regular-image(src='images/TorLogo.png', width='123', height='181')
				h1.bullet Tor

			section
				h2.bullet What is Tor?
				h3.bullet You know in those old movies where some kid is breaking into a computer and it shows the map, with the connection bouncing all around the world?
				h3.bullet That's basically what Tor is.
				h3.bullet Tor anonymizes you by making it seem like your Internet traffic is coming from a random location in the world
				h3.bullet Tor can also help you circumvent censorship

			section
				h2.bullet Using Tor
				h3.bullet Tor isn't useful on its own
				h3.bullet You use normal applications - like email, chat and your web browser - and tell them to use the Tor network instead of the regular Internet.
				h3.bullet For your web browser, you use the Tor Browser Bundle
				h3.bullet For other applications, you use their proxy settings
				h3.bullet For BitTorrent, you do nothing. Don't use BitTorrent with Tor.
				h3.bullet For even higher security, you use Tails

			section
				h2.bullet The Tor Browser Bundle
				h3.bullet TBB is a browser, based on Firefox, that is preconfigured to use Tor properly
				h3.bullet It will help you connect to the Tor network and remain anonymous online
				h3.bullet However, TBB cannot do everything. You may need to change some of your browsing habits.

			section
				h2.bullet What you need to do
				h3.bullet Don't use browser plugins
				h3.bullet Don't open downloaded documents while online
				h3.bullet Be aware of logging in to websites (you aren't anonymous if you tell them who you are)

			section
				h2.bullet Tails, The Amnesiac Incognito Live System
				h3.bullet Tails is like the TBB, but it works for the entire computer
				h3.bullet Instead of starting Tails from your hard drive, you put Tails on a CD and start the computer from the CD
				h3.bullet When you shut down Tails, it forgets everything you did
				h3.bullet Restart Tails in-between tasks
				h3.bullet The warning about signing into things still applies

			section
				h2.bullet Getting Tor
				h3.bullet <a href="https://www.torproject.org/download/download-easy.html.en">Download</a> the Tor Browser Bundle and unpack to your desktop. It is self-contained, no need to install
				h3.bullet If you need extra security you may wish to <a href="https://www.torproject.org/docs/verifying-signatures.html.en">verify its signature</a> to ensure it hasn't been tampered with
				h3.bullet Download Tails from <a href="https://tails.boum.org/">here</a> and <a href="https://tails.boum.org/getting_started/index.en.html">put it on a USB drive or a CD</a>. Be aware of what it <a href="https://tails.boum.org/doc/about/warning/index.en.html">doesn't do for you</a>.
				h3.bullet For Android, you can get Orbot from the <a href="https://play.google.com/store/apps/details?id=org.torproject.android">Google Play Store</a> or from <a href="https://f-droid.org/">F-Droid</a> (recommended).
				h3.bullet The Tor wiki has a <a href="https://trac.torproject.org/projects/tor/wiki#UsingTorwith">section</a> detailing how to get and use Tor with other software.

			section
				h2 Exercise: install the Tor Browser Bundle

			section
				h2 Exercise: <a href="https://panopticlick.eff.org/">Panopticlick</a>

			section(data-bespoke-state='emphatic')
				img(src='images/GetOnDownAndGetEncryptedWithACryptoParty.jpeg', alt='#cryptoparty', width='421', height='272')

			section
				h1 Tor Messenger + Off-The-Record

			section
				h2.bullet Off-The-Record basics
				h3.bullet IM + privacy = Off-The-Record
				h3.bullet OTR encrypts your chat messages so that no one read your conversations.
				h3.bullet Not even the chat service.

			section
				h2.bullet The tech
				h3.bullet OTR manages your keys for you.
				h3.bullet You just turn it on, challenge the other person with a question that only they would know (to make sure that it's really them), and talk
				h3.bullet One caveat: OTR only works after the first message. (Consult your threat model.)

			section
				h2.bullet So how do I use it?
				h3.bullet Get Tor Messenger
				h3.bullet If possible, use XMPP (<a href="https://xmpp.net/directory.php">directory of open servers</a>)
				h3.bullet Tor Messenger uses OTR by default, so you can just start a chat with whoever
				h3.bullet It also sends traffic through the Tor network
				h3.bullet Congrats! Your conversations are now private.

			section
				h2.bullet Warnings
				h3.bullet Tor Messenger is in beta
				h3.bullet Consider avoiding it (for now) if you're highly-targeted
				h3.bullet Also, it doesn't store logs by default

			section
				h2 Exercise: installing Tor Messenger and star
				h3.bullet Congrats! Your conversations are now private.

			section
				h2.bullet Warnings
				h3.bullet Tor Messenger is in beta
				h3.bullet Consider avoiding it (for now) if you're highly-targeted
				h3.bullet Also, it doesn't store logs by default

			section
				h2 Exercise: installing Tor Messenger and starting a chat

			section(data-bespoke-state='emphatic')
				img(src='images/CC_BY_3.0_state_of_surveillance_by_xp0s3.jpg', alt='cryptoparty.org - refuse the state of surveillance', width='362', height='456')

			section
				img.bullet(src='images/signal-app-logo.png', width='256', height='256')
				h2.bullet Signal

			section
				h2.bullet Signal
				h3.bullet Install it from the <a href="https://itunes.apple.com/us/app/signal-private-messenger/id874139669">App Store</a> or the <a href="https://play.google.com/store/apps/details?id=org.thoughtcrime.securesms">Google Play Store</a>
				h3.bullet Register with your phone number
				h3.bullet End-to-end encrypted texting and calling
				h3.bullet Works only with other Signal users

			section
				h2.bullet Safety numbers
				h3.bullet Each conversation has a safety number
				h3.bullet Safety numbers change when the other person reinstalls Signal
				h3.bullet They also change when someone's impersonating the other person

			section
				h2.bullet Verifying safety numbers
				h3.bullet Open the other person's conversation and call them
				h3.bullet On Android, tap the conversation menu, then "verify safety number"
				h3.bullet On iOS, tap the other person's name at the top, then "verify safety number"
				h3.bullet Read the numbers aloud to the other person to compare
				
			section
				h2.bullet Verifying calls
				img.bullet(src='images/signal-call-words.png') 

			section
				h2.bullet Make sure Signal notices safety number changes
				img.bullet(src='images/signal-safety-numbers.png')

			section
				h2.bullet Final notes
				h3.bullet <a href="https://support.whispersystems.org/hc/en-us">Signal support</a>
				h3.bullet <a href="https://chrome.google.com/webstore/detail/signal-private-messenger/bikioccmkafdpakkkcpdbppfkghcmihk">Signal Desktop</a>
				h3.bullet On Android, you can set Signal to receive SMS messages too
				h3.bullet If you reinstall Signal, ask friends to update group descriptions (or leave groups beforehand)

			section(data-bespoke-state='emphatic')
				img(src='images/CC_BY_3.0_weak_link_by_xp0s3.jpg', alt='Do not be the weak link - cryptoparty.org', height='371', width='556')

			section
				h1 Honourable mentions

			section
				// TODO image has background
				img.bullet.regular-image(src='images/https-everywhere-banner.png')
				h3.bullet <a href="https://www.eff.org/https-everywhere">HTTPS Everywhere</a>

			section
				img.bullet.regular-image(src='images/privacy-badger.png')
				h3.bullet <a href="https://www.eff.org/privacybadger">Privacy Badger</a>

			section
				img.bullet.regular-image(src='images/duckduckgo.svg')
				h3.bullet <a href="https://duckduckgo.com/">DuckDuckGo</a>

			section
				h2.bullet Protips
				h3.bullet Install a freedom-respecting operating system (like Linux)
				h3.bullet Use full-disk encryption on your phone and computer
				h3.bullet Avoid proprietary cloud services if possible
				h3.bullet Access Facebook using their Tor Onion Service (<code>facebookcorewwwi.onion</code>)
				h3.bullet Don't bring your phone to protests

			section
				h2 More resources
				h3 <a href="https://prism-break.org/en/">PRISM Break</a>
				h3 Reset the Net's <a href="https://pack.resetthenet.org/">Privacy Pack</a>
				h3 Free Software Foundation's <a href="https://emailselfdefense.fsf.org/en/">Email Self Defense</a>
				h3 <a href="https://cryptoparty.in/">CryptoParty website</a>

			section
				h2 Questions?
				h3 Email me at <a href="mailto:alex@strugee.net">alex@strugee.net</a> or contact me via Signal
					div#signal-fillin-outer(hidden) (
						span#signal-fillin-inner
						| )
				h3 Or just shout it out right now

			section
				h2 Attributions
				h3 CryptoParty logo - public domain (CC0)
				h3 Tor logo - The Tor Project, Inc. - CC Attribution 3.0 US
				h3 State of surveillance - xp0s3 - CC BY 3.0
				h3 Weak link - xp0s3 - CC BY 3.0
				// TODO HTTPS Everywhere Privacy Badger
				h3 DuckDuckGo logo DuckDuckGo, Inc. - Derived from the <a rel="nofollow" class="external text" href="http://www.duckduckgo.com/">DuckDuckGo homepage</a>/<a rel="nofollow" class="external text" href="https://github.com/duckduckgo/community-platform/blob/master/root/static/img/duckduckgo-icon.png">Duck Duck Go's github</a> - Public Domain
				h3 Slideshow built using Bespoke.js

			section
				h2 Access this presentation again
				h3 https://strugee.net/cryptoparty-seattle/
				p
					img(src='images/qr.gif', alt="QR Code")
				h4 ...or <a href="https://github.com/strugee/cryptoparty-seattle/">get the source code</a>

		script(src='build/build.js')
